Repository The-Arcadis-Team/arc-station-14, pull requests merged in 2024-12, with the labels that each got.

#110 Speso Counterfeiting machine
  Resources/Prototypes/Entities/Markers/Spawners/Random/techboard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Structures/Machines/moneyprinter.rsi/building.png
  Resources/Textures/Structures/Machines/moneyprinter.rsi/icon.png
  Resources/Textures/Structures/Machines/moneyprinter.rsi/inserting.png
  Resources/Textures/Structures/Machines/moneyprinter.rsi/meta.json
  Resources/Textures/Structures/Machines/moneyprinter.rsi/panel.png
  Resources/Textures/Structures/Machines/moneyprinter.rsi/unlit.png
Labels: Status: DO NOT MERGE, Status: Awaiting Changes, Changes: Sprite, Changes: YML

#111 Allows lollipops to be worn in the mask slot, adds BoBo's pizza
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/candy.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/lollipop.rsi/equipped-MASK.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/lollipop.rsi/meta.json
Labels: Status: DO NOT MERGE, Changes: Sprite, Changes: YML

#114 Adds a new flavor book.
  Resources/Locale/en-US/paper/book-authorbooks.ftl
  Resources/Prototypes/Entities/Objects/Misc/books_author.yml
Labels: Changes: YML, Changes: Localization

#108 Cr changes1
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_Arc/Entities/clothing/eyes/arcglasses.yml
  Resources/Textures/_Arc/Clothing/eyes/crglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Arc/Clothing/eyes/crglasses.rsi/equipped-EYES.png
  Resources/Textures/_Arc/Clothing/eyes/crglasses.rsi/icon.png
  Resources/Textures/_Arc/Clothing/eyes/crglasses.rsi/inhand-left.png
  Resources/Textures/_Arc/Clothing/eyes/crglasses.rsi/inhand-right.png
  Resources/Textures/_Arc/Clothing/eyes/crglasses.rsi/meta.json
  Resources/Textures/_Arc/Clothing/eyes/medglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Arc/Clothing/eyes/medglasses.rsi/equipped-EYES.png
  Resources/Textures/_Arc/Clothing/eyes/medglasses.rsi/icon.png
  Resources/Textures/_Arc/Clothing/eyes/medglasses.rsi/inhand-left.png
  Resources/Textures/_Arc/Clothing/eyes/medglasses.rsi/inhand-right.png
  Resources/Textures/_Arc/Clothing/eyes/medglasses.rsi/meta.json
  Resources/Textures/_Arc/Clothing/eyes/medsecglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Arc/Clothing/eyes/medsecglasses.rsi/equipped-EYES.png
  Resources/Textures/_Arc/Clothing/eyes/medsecglasses.rsi/icon.png
  Resources/Textures/_Arc/Clothing/eyes/medsecglasses.rsi/inhand-left.png
  Resources/Textures/_Arc/Clothing/eyes/medsecglasses.rsi/inhand-right.png
  Resources/Textures/_Arc/Clothing/eyes/medsecglasses.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#118 reopening of lollipop fix
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/candy.yml
Labels: Changes: YML

#119 Lobby art readded, Updated the Arcadis Station credits, also readded lobby music.
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/cool_alien_music.ogg
  Resources/Audio/Lobby/phororemix.ogg
  Resources/Audio/Lobby/singularity.ogg
  Resources/Audio/Lobby/synth_pop_beat.ogg
  Resources/Credits/Arcadis_station.txt
  Resources/Prototypes/Access/TrueAA.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/Trio_items.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/Hunted.webp
  Resources/Textures/LobbyScreens/Hunted.yml
  Resources/Textures/LobbyScreens/Piratecaptain.webp
  Resources/Textures/LobbyScreens/Piratecaptain.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/meth.webp
  Resources/Textures/LobbyScreens/meth.webp.yml
Labels: Changes: YML, Changes: Audio

#121 Adds members of the trio and items required for them, Moved some files around to make coding easier, and Arcadis Station.
  Resources/Prototypes/Entities/Arcadis_station/Admin.yml
  Resources/Prototypes/Entities/Arcadis_station/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Arcadis_station/NPCs/flesh_tele.yml
  Resources/Prototypes/Entities/Arcadis_station/NPCs/meathunk.yml
  Resources/Prototypes/Entities/Arcadis_station/Trio.yml
  Resources/Prototypes/Entities/Arcadis_station/Trio_items.yml
  Resources/Prototypes/Entities/Objects/Specific/Trio_items.yml
  Resources/Prototypes/SoundCollections/Everything.yml
  Resources/Textures/Arcadis_station/Admin/Gulo.rsi/equipped-FEET.png
  Resources/Textures/Arcadis_station/Admin/Gulo.rsi/icon.png
  Resources/Textures/Arcadis_station/Admin/Gulo.rsi/meta.json
  Resources/Textures/Arcadis_station/Admin/Moose/Moose.png
  Resources/Textures/Arcadis_station/Clothing/Ears/Headsets/toweg.rsi/equipped-EARS.png
  Resources/Textures/Arcadis_station/Clothing/Ears/Headsets/toweg.rsi/icon.png
  Resources/Textures/Arcadis_station/Clothing/Ears/Headsets/toweg.rsi/meta.json
  Resources/Textures/Arcadis_station/NPC/Meathunk.rsi/alive.png
  Resources/Textures/Arcadis_station/NPC/Meathunk.rsi/dead.png
  Resources/Textures/Arcadis_station/NPC/Meathunk.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/Toweg.rsi/equipped-NECK.png
  Resources/Textures/Objects/Fun/toys.rsi/Arcadis-station.png
  Resources/Textures/Objects/Fun/toys.rsi/FBI.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/Toweg-id-2.png
  Resources/Textures/Objects/Misc/id_cards.rsi/Toweg-id.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#122 Trio bug fixes, added NTPD agent, Fixed naming issues with the NTPD and MERC PDAs, Added admin stuff.
  Resources/Prototypes/Datasets/corporations.yml
  Resources/Prototypes/Entities/Arcadis_station/Admin.yml
  Resources/Prototypes/Entities/Arcadis_station/Ghostroles/humanoid.yml
  Resources/Prototypes/Entities/Arcadis_station/Trio.yml
  Resources/Prototypes/Entities/Arcadis_station/Trio_items.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Arcadis_station/Admin/Deadagaingun.rsi/bolt-open.png
  Resources/Textures/Arcadis_station/Admin/Deadagaingun.rsi/equipped-BELT.png
  Resources/Textures/Arcadis_station/Admin/Deadagaingun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Arcadis_station/Admin/Deadagaingun.rsi/icon.png
  Resources/Textures/Arcadis_station/Admin/Deadagaingun.rsi/inhand-left.png
  Resources/Textures/Arcadis_station/Admin/Deadagaingun.rsi/inhand-right.png
  Resources/Textures/Arcadis_station/Admin/Deadagaingun.rsi/meta.json
  Resources/Textures/Arcadis_station/Admin/Egg.rsi/icon.png
  Resources/Textures/Arcadis_station/Admin/Egg.rsi/meta.json
  Resources/Textures/Arcadis_station/Admin/Eris.rsi/closed.png
  Resources/Textures/Arcadis_station/Admin/Eris.rsi/icon.png
  Resources/Textures/Arcadis_station/Admin/Eris.rsi/meta.json
  Resources/Textures/Arcadis_station/Admin/Moose.rsi/Moose.png
  Resources/Textures/Arcadis_station/Admin/Moose.rsi/meta.json
  Resources/Textures/Arcadis_station/Admin/deadagainammo.rsi/ball.png
  Resources/Textures/Arcadis_station/Admin/deadagainammo.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/lizard_hacker.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster52_legit.png
Labels: Changes: Sprite, Changes: YML
