Repository The-Arcadis-Team/arc-station-14, pull requests merged in 2025-01, with the labels that each got.

#127 Add special energy gun
  Resources/Prototypes/_Arc/Entities/Objects/Weapons/Battery/battery_guns.yml
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/base.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/disabler-inhand-left.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/disabler-inhand-right.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/icon.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/lethal-inhand-left.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/lethal-inhand-right.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/mag-unshaded-0.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/mag-unshaded-1.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/mag-unshaded-2.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/mag-unshaded-3.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/mag-unshaded-4.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/meta.json
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/mode-disabler.png
  Resources/Textures/_Arc/Objects/Weapons/Guns/Battery/crweaponenergypistol.rsi/mode-lethal.png
Labels: Changes: Sprite, Changes: YML

#132 small adjustment for crt-2
  Resources/Prototypes/_Arc/Entities/Objects/Weapons/Battery/battery_guns.yml
Labels: Changes: YML

#134 maintainer maintaining the unmaintained code
  Resources/Locale/en-US/_Arc/job/job-names.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Arcadis_station/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Arcadis_station/Clothing/Neck/medals.yml
  Resources/Prototypes/Entities/Arcadis_station/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Arcadis_station/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Arcadis_station/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Arc/Access/ita.yml
  Resources/Prototypes/_Arc/Access/ntpd.yml
  Resources/Prototypes/_Arc/Admin.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/_Arc/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Arc/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Arc/Entities/clothing/Head/hats.yml
  Resources/Prototypes/_Arc/Ghostroles/humanoid.yml
  Resources/Prototypes/_Arc/NPCs/Human.yml
  Resources/Prototypes/_Arc/NPCs/flesh_tele.yml
  Resources/Prototypes/_Arc/NPCs/meathunk.yml
  Resources/Prototypes/_Arc/Structures/Airlocks/access.yml
  Resources/Prototypes/_Arc/Structures/Airlocks/airlocks.yml
  Resources/Prototypes/_Arc/Structures/Airlocks/assembly.yml
  Resources/Prototypes/_Arc/Structures/Airlocks/highsec.yml
  Resources/Prototypes/_Arc/Structures/Airlocks/shuttle.yml
  Resources/Prototypes/_Arc/Structures/Misc/lockers.yml
  Resources/Prototypes/_Arc/Trio.yml
  Resources/Prototypes/_Arc/Trio_items.yml
  Resources/Prototypes/_Arc/tags.yml
Labels: Changes: YML, Changes: Localization

#128 Restore HoP access
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: Changes: YML

#138 creature, erpdrobe and syndiegirl bundle (sex update)
  Resources/Locale/en-US/advertisements/erpdrobe.ftl
  Resources/Prototypes/Entities/Arcadis_station/Clothing/Back/Fills/duffel.yml
  Resources/Prototypes/Entities/Arcadis_station/Locale/erpdrobe.yml
  Resources/Prototypes/Entities/Arcadis_station/NPCs/creaturefeature.yml
  Resources/Prototypes/Entities/Arcadis_station/Structures/Misc/erpdobe.yml
  Resources/Prototypes/Entities/Arcadis_station/Structures/Misc/vendingmachines.yml
  Resources/Textures/Arcadis_station/NPC/creaturefeature.rsi/alive.png
  Resources/Textures/Arcadis_station/NPC/creaturefeature.rsi/dead.png
  Resources/Textures/Arcadis_station/NPC/creaturefeature.rsi/meta.json
  Resources/Textures/_Arc/Clothing/under/blacksocks.rsi/equipped-FEET.png
  Resources/Textures/_Arc/Clothing/under/blacksocks.rsi/icon.png
Labels: Changes: Sprite, Changes: YML, Changes: Localization

#140 More clusternade
  Resources/Prototypes/_Arc/Entities/Objects/Weapons/Throwable/clustergrenade.yml
  Resources/Textures/_Arc/Objects/Weapons/Throwable/grenade/clusterclean.rsi/base-1.png
  Resources/Textures/_Arc/Objects/Weapons/Throwable/grenade/clusterclean.rsi/base-2.png
  Resources/Textures/_Arc/Objects/Weapons/Throwable/grenade/clusterclean.rsi/icon.png
  Resources/Textures/_Arc/Objects/Weapons/Throwable/grenade/clusterclean.rsi/meta.json
  Resources/Textures/_Arc/Objects/Weapons/Throwable/grenade/clusterclean.rsi/primed.png
  Resources/Textures/_Arc/Objects/Weapons/Throwable/grenade/clusternuke.rsi/base-1.png
  Resources/Textures/_Arc/Objects/Weapons/Throwable/grenade/clusternuke.rsi/base-2.png
  Resources/Textures/_Arc/Objects/Weapons/Throwable/grenade/clusternuke.rsi/icon.png
  Resources/Textures/_Arc/Objects/Weapons/Throwable/grenade/clusternuke.rsi/meta.json
  Resources/Textures/_Arc/Objects/Weapons/Throwable/grenade/clusternuke.rsi/primed.png
Labels: Changes: Sprite, Changes: YML

#139 added omni glasses
  Resources/Prototypes/_Arc/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: YML

#141 Flesh armor fix
  Resources/Prototypes/_Arc/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Arc/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_Arc/Clothing/Head/Helmets/Flesh_cult_helmet.rsi/equipped-HELMET.png
  Resources/Textures/_Arc/Clothing/Head/Helmets/Flesh_cult_helmet.rsi/icon.png
  Resources/Textures/_Arc/Clothing/Head/Helmets/Flesh_cult_helmet.rsi/inhand-left.png
  Resources/Textures/_Arc/Clothing/Head/Helmets/Flesh_cult_helmet.rsi/inhand-right.png
  Resources/Textures/_Arc/Clothing/Head/Helmets/Flesh_cult_helmet.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#143 fix viperfang desc
  Resources/Prototypes/_Arc/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: Changes: YML

#145 add astronav and nanochat to merc and NTPD PDAs
  Resources/Prototypes/_Arc/Entities/Objects/Devices/pda.yml
Labels: Changes: YML

#147 Medsec fixed
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Arc/Entities/Clothing/Head/helmets.yml
Labels: PR: Bug Fix, Changes: YML

#151 Adds prototypes for syndicate jumpsuits and skirts
  Resources/Prototypes/Entities/Arcadis_station/Clothing/Inner/Syndicate/Jumpskirts/syndicatejumpskirts.yml
  Resources/Prototypes/Entities/Arcadis_station/Clothing/Inner/Syndicate/Jumpsuits/syndicatejumpsuits.yml
Labels: Changes: YML, Status: Awaiting Merge

#149 added 2 more gun
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Weapon/Battery/battery_guns.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Weapon/Projectile/hitscan.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Weapon/Projectile/impact.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Weapon/Projectile/projectile.yml
  Resources/Prototypes/_Arcadis/Entities/Power/battery.yml
  Resources/Prototypes/_Arcadis/Recipes/Lathes/security.yml
  Resources/Prototypes/_Arcadis/tags.yml
  Resources/Textures/_Arcadis/Objects/Power/energymags.rsi/inhand-left.png
  Resources/Textures/_Arcadis/Objects/Power/energymags.rsi/inhand-right.png
  Resources/Textures/_Arcadis/Objects/Power/energymags.rsi/mag-railgun.png
  Resources/Textures/_Arcadis/Objects/Power/energymags.rsi/mag-rifle.png
  Resources/Textures/_Arcadis/Objects/Power/energymags.rsi/meta.json
  Resources/Textures/_Arcadis/Objects/Power/energymags.rsi/o1.png
  Resources/Textures/_Arcadis/Objects/Power/energymags.rsi/o2.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/base.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/equipped-BACKPACK.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/icon.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/inhand-left.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/inhand-right.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/mag-unshaded-0.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/mag-unshaded-1.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/mag-unshaded-2.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/mag-unshaded-3.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/mag-unshaded-4.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/meta.json
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/wielded-inhand-left.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_railgun.rsi/wielded-inhand-right.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/base.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/equipped-BACKPACK.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/icon.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/inhand-left.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/inhand-right.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/mag-unshaded-0.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/mag-unshaded-1.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/mag-unshaded-2.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/mag-unshaded-3.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/mag-unshaded-4.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/meta.json
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/wielded-inhand-left.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Battery/energy_green_rifle.rsi/wielded-inhand-right.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Projectiles/cr-projectile.rsi/beam.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Projectiles/cr-projectile.rsi/beam_heavy2.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Projectiles/cr-projectile.rsi/greenlaser.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Projectiles/cr-projectile.rsi/impact_beam_heavy2.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Projectiles/cr-projectile.rsi/impact_laser.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Projectiles/cr-projectile.rsi/impact_laser_green.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Projectiles/cr-projectile.rsi/meta.json
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Projectiles/cr-projectile.rsi/muzzle_beam_heavy2.png
  Resources/Textures/_Arcadis/Objects/Weapons/Guns/Projectiles/cr-projectile.rsi/muzzle_laser.png
Labels: Changes: Sprite, Changes: YML, Status: Awaiting Merge

#142 More nader
  Resources/Prototypes/_Arc/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Status: Needs Review, Changes: YML

#150 Adds Carnemori, more flesh armor, and changes the Meathunk sprite
  Resources/Locale/en-US/_Arc/Gods_spawns/Carnemori.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/_Arc/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_Arc/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Arc/Entities/Gods/Carnemori.yml
  Resources/Prototypes/_Arc/NPCs/Human.yml
  Resources/Prototypes/_Arc/reagents/reagents.yml
  Resources/Prototypes/radio_channels.yml
  Resources/Textures/_Arc/Alternate_Universe_references/Sign.rsi/icon.png
  Resources/Textures/_Arc/Clothing/OuterClothing/Armor/Carapace_Malformed_Limbs.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Arc/Clothing/OuterClothing/Armor/Carapace_Malformed_Limbs.rsi/icon.png
  Resources/Textures/_Arc/Clothing/OuterClothing/Armor/Carapace_Malformed_Limbs.rsi/inhand-left.png
  Resources/Textures/_Arc/Clothing/OuterClothing/Armor/Carapace_Malformed_Limbs.rsi/inhand-right.png
  Resources/Textures/_Arc/Clothing/OuterClothing/Armor/Carapace_Malformed_Limbs.rsi/meta.json
  Resources/Textures/_Arc/Clothing/OuterClothing/Armor/InvictusArmor.rsi/notmeta.js
  Resources/Textures/_Arc/Gods/Carnemori/Critical.png
  Resources/Textures/_Arc/Gods/Carnemori/alive.png
  Resources/Textures/_Arc/Gods/Carnemori/meta.json
  Resources/Textures/_Arc/NPC/Meathunk.rsi/alive.png
  Resources/Textures/_Arc/NPC/Meathunk.rsi/dead.png
  Resources/Textures/_Arc/NPC/Meathunk.rsi/meta.json
Labels: Status: Awaiting Changes, Changes: Sprite, Changes: YML, Changes: Localization

#153 Update lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML
